.box{
	width:1120px;
	margin:0 auto;
	/*overflow-x:auto;*/
	padding-top:55px ;
}
.box .note-tab{
	padding: 21px;
	width: 1100px;
	margin:0 auto;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.note-tab .yangshi .active{
	border-bottom: 2px solod #ff2741;
	padding: 0 0 6px 0;
	font-weight: bold;
	color: #000;
}
.note-tab .yangshi{
	display: inline-block;
	width: 68px;
	padding: 0 0 6px 0;
	margin: 0 5px 0 0;
	text-align: center;
	cursor: pointer;
	color:#555;
	text-decoration: none;
}
/*img{
	width:100%;
	animation:myfirst 2s;
	-webkit-animation:myfirst 2s;
}
@keyframes myfirst
{
	from {filter: blur(100px);}
	to {filter: blur(0px);}
}*/
.big div{
	width:250px;
	float: left;
	margin: 0 15px;
}
img{
	width:100%;
	border-radius: 3%;
	animation:myfirst 2s;
	-webkit-animation:myfirst 2s;
}
@keyframes myfirst
{
	from {filter: blur(20px);}
	to {filter: blur(0px);}
}