<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>brand</title>
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/same.css">
	<link rel="stylesheet" href="./css/brand.css">
	<script src="./js/jquery-1.10.1.js"></script>
	<script src="./js/underscore.js"></script>
</head>
<body>
	<header></header>
	<section>
		<!--<div class="w clearfix">-->
			
		
		<div class="sum">
			<div class="head">
				<h2>品牌认证优势</h2>
				<p>官方品牌认证，多种特权专享</p>
			</div>
			<div class="conts">
				<div class="conts-mand"></div>
				<div class="all-list">
					<div class="lists align">
						<img src="//ci.xiaohongshu.com/4e30f1cc-997d-4f09-a556-15738a145cc5" class="pic">
						<h6 class="title">官方认证</h6>
						<p class="pra-one">统一标识</p>
						<p class="pra-two">多样展示</p>
					</div>
					<div class="lists">
						<img src="//ci.xiaohongshu.com/ce501c02-3d4d-4c9d-bfa5-b00ffaca04ae" class="pic">
						<h6 class="title">品牌合作</h6>
						<p class="pra-one">合作数据</p>
						<p class="pra-two">一目了然</p>
					</div>
					<div class="lists"></div>
					<div class="lists"></div>
					<div class="lists align"></div>
				</div>
				<div class="bottom-back"></div>
				<div class="bgc"></div>
				<a href="javascript:;" class="btn">立即申请</a>
			</div>
		</div>
		<div class="inner-enter">
			<h2>品牌认证流程</h2>
			<h5>通过品牌认证流程，成为官方品牌账号</h5>
			<div class="inner-flow">
				<div class="list">
					<img src="//ci.xiaohongshu.com/946156ec-5ad1-4ad9-b0c3-770c7f54005e" class="icon">
					<p class="title">1.点击立即申请</p>
					<div class="content">
						<p class="pra-one">使用小红书APP账号</p>
						<p class="pra-two">登录ares.xiaohongshu.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="inner-detail">
			<h4>品牌认证指南</h4>
			<div class="top-topic">
				<div class="inner select">国内品牌</div>
				<div class="inner">国外品牌</div>
			</div>
			<div class="middle-topic">
				<div class="inner">
					<h4>基础信息</h4>
					<ul>
						<div class="main">
							<p class="topadd">账号名字</p>
						</div>
						<div class="main">
							<p class="topadd">品牌简介</p>
						</div>
						<div class="main">
							<p class="topadd">行业类别</p>
						</div>
						<div class="main">
							<p class="topadd">所在地</p>
						</div>
					</ul>
				</div>
				<div class="inner"></div>
				<div class="inner"></div>
			</div>
		</div>
		<div class="inner-issue">
			<h2>常见问题</h2>
			<div class="all-issue">
				<div class="inner">
					<h4 class="question">Q：什么是品牌方？</h4>
					<p class="content">A：一般情况下，品牌方指商标注册人。</p>
				</div>
			</div>
		</div>
	<!--</div>-->
	</section>
	<footer>
		<div class="inner-top">
			<div class="inner clearfix">
				<div class="left">
					<img src="./img/logo-bottom.png" alt="" class="inner-left-logo">
					<div class="icon-btn">
						<a href="" class="tab wechat"><i></i></a>
						<a href="" class="tab weibo"><i></i></a>
						<a href="" class="tab ios"><i></i></a>
						<a href="" class="tab android"><i></i></a>
					</div>
				</div>
				<div class="right"></div>
			</div>
		</div>
		<div class="inner-bottom"></div>
	</footer>
</body>
</html>
<script type="text/html" id="header-tmp">
	<% $.each(headerData, function (k, v) { %>
		<div class="w clearfix">
			<img src="<%= v.logo %>" alt="小红书_logo" class="logo">
			<div class="menu-nav">
				<!-- 5个a, 加链接-->
				<% $.each(v.nav, function (k, v) { %>
					<a href=<%= v.link %>><span><%= v.title %></span></a>
				<% }) %>
				<div class="about-item" style="display:none">
						<% $.each(v.nav[2].tab, function (k, v) { %>
							<a href=<%= v.link %>><%= v.text %></a>
						<% }) %>
				</div>
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-right-tmp">
	<% $.each(data, function (k, v) { %>
		<div class="breed">
			<i></i>
			<div class="all-tabs">
				<span class="tab top"><%= v.title %></span>
				<% $.each(v.tab, function (k, v) { %>
					<a href="" class="tab"><%= v %></a>
				<% }) %>	
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-bottom-tmp">
	<div class="inner">
		<% $.each(data, function (k, v) { %>
			<div class="info">
				<% $.each(v, function (k, v) { %>
					<span><%= v %></span>
				<% }) %>
			</div>
		<% }) %>
	</div>
</script>

<script type="text/template" id="model1">
	<div class="sum">
		<div class="head">
			<h2><%= head.h2 %></h2>
			<p><%= head.p %></p>
		</div>
		<div class="conts">
			<div class="conts-mand"></div>
			<div class="all-list">
				<% for(var i=0;i<cont.length;i++){ %>
					<div class="lists">
						<img src="//ci.xiaohongshu.com/ce501c02-3d4d-4c9d-bfa5-b00ffaca04ae" class="pic">
						<h6 class="title"><%= cont[i].h6 %></h6>
						<p class="pra-one"><%= cont[i].p1 %></p>
						<p class="pra-two"><%= cont[i].p2 %></p>
					</div>
				<% } %>
			</div>
			<div class="bottom-back"></div>
			<div class="bgc"></div>
			<a href="javascript:;" class="btn"><%= cnt %></a>
		</div>
	</div>
</script>
<script type="text/template" id="model2">
	<div class="inner-enter">
		<h2><%= headtwo.h2 %></h2>
		<h5><%= headtwo.h5 %></h5>
		<div class="inner-flow">
			<% for(var j=0;j<conted.length;j++){ %>
				<div class="list">
					<img src="//ci.xiaohongshu.com/946156ec-5ad1-4ad9-b0c3-770c7f54005e" class="icon">
					<p class="title"><%= conted[j].title %></p>
					<div class="content">
						<p class="pra-one"><%= conted[j].pra1 %></p>
						<p class="pra-two"><%= conted[j].pra2 %></p>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</script>	
<script type="text/template" id="model3">
	<div class="inner-detail">
		<h4><%= head3.h4 %></h4>
		<div class="top-topic">
			<div class="inner select"><%= head3.inner1 %></div>
			<div class="inner"><%= head3.inner2 %></div>
		</div>
		<div class="middle-topic">
			<% for(var m=0;m<inner.length;m++){ %>
				<div class="inner">
					<h4><%= inner[i].h4 %></h4>
					<ul>
						<% for(var l=0;l<inner[i].topadd.length;l++){ %>
							<div class="main">
								<p class="topadd"><%= inner[i].topadd[i] %></p>
							</div>
						<% } %>
					</ul>
				</div>	
			<% } %>
			
		</div>
	</div>
</script>	
<script type="text/javascript">
	$(function(){
		$.ajax({
			type:"get",
			url:"data_s/1.json",
			async:true,
			success:function(data){
				andone(data);
				andtwo(data);
			}
		});
		function andone(data){
			var temp=$("#model1").html();
			var html=_.template(temp);
			var cent=html({head:data.head,cont:data.conts,cnt:data.a1});
			$("section").append(cent)
		};
		function andtwo(datas){
			var temp1=$("#model2").html();
			var html1=_.template(temp1);
			var cends=html1({headtwo:datas.headtwo,conted:datas.contes});
			$("section").append(cends)
		};
	})
	
</script>
<script src="js/same.js" type="text/javascript"></script>