<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Community</title>
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/same.css">
	<link rel="stylesheet" href="./css/Community.css">
	<script src="./js/jquery-1.10.1.js"></script>
	<script src="./js/underscore.js"></script>
	<script src="./js/self.js"></script>
</head>
<body>

	<header></header>
	<section>
		<div class="box">
			<div class="note-tab">
				<a href="#" class="yangshi active"> 推荐</a>
				<a href="#" class="yangshi">时尚</a>
				<a href="#" class="yangshi">美妆</a>
				<a href="#" class="yangshi">美食</a>
				<a href="#" class="yangshi">运动</a>
				<a href="#" class="yangshi">影音</a>
				<a href="#" class="yangshi">旅行</a>
				<a href="#" class="yangshi">居家</a>
				<a href="#" class="yangshi">母婴</a>
				<a href="#" class="yangshi">读书</a>
				<a href="#" class="yangshi">数码</a>
				<a href="#" class="yangshi">时尚男士</a>
				<a href="#" class="yangshi">医药</a>
				<a href="#" class="yangshi">动漫</a>
			</div>
			<div class="big clearfix">
				<div class="one"></div>
				<div class="tow"></div>
				<div class="tre"></div>
				<div class="fur"></div>
			</div>	
		</div>
	</section>
	<footer>
		<div class="inner-top">
			<div class="inner clearfix">
				<div class="left">
					<img src="./img/logo-bottom.png" alt="" class="inner-left-logo">
					<div class="icon-btn">
						<a href="" class="tab wechat"><i></i></a>
						<a href="" class="tab weibo"><i></i></a>
						<a href="" class="tab ios"><i></i></a>
						<a href="" class="tab android"><i></i></a>
					</div>
				</div>
				<div class="right"></div>
			</div>
		</div>
		<div class="inner-bottom"></div>
	</footer>
</body>
<script type="text/html" id="header-tmp">
	<% $.each(headerData, function (k, v) { %>
		<div class="w clearfix">
			<img src="<%= v.logo %>" alt="小红书_logo" class="logo">
			<div class="menu-nav">
				<!-- 5个a, 加链接-->
				<% $.each(v.nav, function (k, v) { %>
					<a href=<%= v.link %>><span><%= v.title %></span></a>
				<% }) %>
				<div class="about-item" style="display:none">
						<% $.each(v.nav[2].tab, function (k, v) { %>
							<a href=<%= v.link %>><%= v.text %></a>
						<% }) %>
				</div>
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-right-tmp">
	<% $.each(data, function (k, v) { %>
		<div class="breed">
			<i></i>
			<div class="all-tabs">
				<span class="tab top"><%= v.title %></span>
				<% $.each(v.tab, function (k, v) { %>
					<a href="" class="tab"><%= v %></a>
				<% }) %>	
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-bottom-tmp">
	<div class="inner">
		<% $.each(data, function (k, v) { %>
			<div class="info">
				<% $.each(v, function (k, v) { %>
					<span><%= v %></span>
				<% }) %>
			</div>
		<% }) %>
	</div>
</script>
<script src="./js/same.js"></script>
</body>
</html>