<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact</title>
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/same.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css"/>
	<script src="./js/jquery-1.10.1.js"></script>
	<script src="./js/underscore.js"></script>
</head>
<body>
	<header></header>
	<section>
		<div id="pic">
	          <img src="img/contact/微信图片_20190407185837.png"/> 
		</div>
		<div id="body1">
			<h6 class="b1">COOPERATIONS</h6><p class="b2">合作邮箱</p>
			<div><h5>美妆</h5><p>bd_beauty@xiaohongshu.com</p></div>
			<div><h5>家具</h5><p>bd_home@xiaohongshu.com</p></div>
			<div><h5>母婴</h5><p>bd_baby@xiaohongshu.com</p></div>
			<div><h5>食品/保健</h5><p>bd_food@xiaohongshu.com</p></div>
			<div><h5>时尚奢侈</h5><p>bd_fashion@xiaohongshu.com</p></div>
			<div><h5>家电数码</h5><p>bd_appliance@xiaohongshu.com</p></div>
			<div><h5>仓储物流</h5><p>bd_storage@xiaohongshu.com</p></div>
			<div><h5>薯队长</h5><p>shuduizhang@xiaohongshu.com</p></div>
			<div><h5>人事/招聘</h5><p>career@xiaohongshu.com</p></div>
			<div><h5>媒体/采访</h5><p>media@xiaohongshu.com</p></div>
			<div><h5>市场/品牌</h5><p>marketing@xiaohongshu.com</p></div>
			<div><h5>产品反馈</h5><p>app_feedback@xiaohongshu.com</p></div>
			<div><h5>社区反馈</h5><p>community@xiaohongshu.com</p></div>
			<div><h5>客服反馈</h5><p>service@xiaohongshu.com</p></div>
			<div><h5>明星入驻</h5><p>superstar@xiaohongshu.com</p></div>
		</div>
		<div id="body2">
			<div class="dd1">
				<h3 class="c1">ADDRESS</h3><p class="c2">我们在这里</p>
				<div><h5>上海</h5><p>上海市 黄浦区 马当路388号 SOHO复兴广场C座</p></div>
				<div><h5>北京</h5><p>北京市 朝阳区 河荫中路 金辉大厦305室</p></div>
				<div><h5>武汉</h5><p>武汉市 光谷大道 现代光谷世贸中心B座10楼</p></div>
			</div>
			<div class="pot">
				<img src="img/contact/2.jpg"/>
			</div>
		</div>
	    <div id="body3">
	    	<h3 class="d1">MORE</h3><p class="d2">更多</p>
	    	<div><img src="img/contact/QQ图片20190407201738.png"/></div>
	    	<div><img src="img/contact/QQ图片20190407201750.png"/></div>
	    	<div><img src="img/contact/QQ图片20190407201754.png"/></div>
	    	<div><img src="img/contact/QQ图片20190407201756.png"/></div>
	    	<div><img src="img/contact/QQ图片20190407201802.png"/></div>
	    	
	    </div>
	</section>
	<footer>
		<div class="inner-top">
			<div class="inner clearfix">
				<div class="left">
					<img src="./img/logo-bottom.png" alt="" class="inner-left-logo">
					<div class="icon-btn">
						<a href="" class="tab wechat"><i></i></a>
						<a href="" class="tab weibo"><i></i></a>
						<a href="" class="tab ios"><i></i></a>
						<a href="" class="tab android"><i></i></a>
					</div>
				</div>
				<div class="right"></div>
			</div>
		</div>
		<div class="inner-bottom"></div>
	</footer>
</body>
<script type="text/html" id="header-tmp">
	<% $.each(headerData, function (k, v) { %>
		<div class="w clearfix">
			<img src="<%= v.logo %>" alt="小红书_logo" class="logo">
			<div class="menu-nav">
				<!-- 5个a, 加链接-->
				<% $.each(v.nav, function (k, v) { %>
					<a href=<%= v.link %>><span><%= v.title %></span></a>
				<% }) %>
				<div class="about-item" style="display:none">
						<% $.each(v.nav[2].tab, function (k, v) { %>
							<a href=<%= v.link %>><%= v.text %></a>
						<% }) %>
				</div>
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-right-tmp">
	<% $.each(data, function (k, v) { %>
		<div class="breed">
			<i></i>
			<div class="all-tabs">
				<span class="tab top"><%= v.title %></span>
				<% $.each(v.tab, function (k, v) { %>
					<a href="" class="tab"><%= v %></a>
				<% }) %>	
			</div>
		</div>
	<% }) %>
</script>
<script type="text/html" id="footer-bottom-tmp">
	<div class="inner">
		<% $.each(data, function (k, v) { %>
			<div class="info">
				<% $.each(v, function (k, v) { %>
					<span><%= v %></span>
				<% }) %>
			</div>
		<% }) %>
	</div>
</script>
<script src="./js/same.js"></script>

</body>
</html>